.SlotsGame {
  margin-top: 200px;
}

.SlotsGameContent {
  width: 100%;
  display: block;
}

.GameContainer {
  // background-size: auto !important;
  background-position: center center !important;
}

.slotsCanvas {
  width: 100%;
  height: 100%;
  position: relative;
}
